

<h2>sign up here man</h2>


<form action="<%= users_url %>" method = "POST">
<%= auth_token %>

  <label for="email">Bippity boopity email goes here</label>
  <input type="text" name="user[email]" id="email">
  <br>
  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <br>
  <input type="submit" value="Sign me tf up">



</form>
