/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.website-name {
  background-color: blue;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form input{
  background-color: crimson;
  color: aliceblue;
  font-variant-caps: unicase
}

a {
  text-emphasis-color: blue;
  color: white;
  background-color: inherit;
}

ul li {
  color: limegreen;
  background-color: crimson;
  line-height: 150%; 
}

.login {
   display: inline-flex;
   float: right
 }

.logo {
   display: flex;
   width: 100px;
   height: 100px;
 }